<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.jaedoo.mygeorecord.mybatis.mapper.DataGroupMapper">
    <select id="findAllDataGroupStringField" resultType="DataGroupField">
        select
            dg.id           group_id,
            dg.name         group_name,

            dgf.id          column_id,
            dgf.name        column_name,
            dgf.seq         column_seq,

            sr.id           row_id,
            sr.latitude     latitude,
            sr.longitude    longitude,

            ssf.data        data,

            dt.type         data_type
        from data_group dg, spatial_record sr, data_group_field dgf,
             spatial_string_field ssf, data_type dt
        where dg.id = sr.data_group_id and dg.id = dgf.data_group_id and
              dgf.data_type_id = dt.id and dt.type = 'STRING' and
              dgf.id = ssf.data_group_field_id and sr.id = ssf.spatial_record_id;
    </select>
    <select id="findAllDataGroupNumberField" resultType="DataGroupField">
        select
            dg.id           group_id,
            dg.name         group_name,

            dgf.id          column_id,
            dgf.name        column_name,
            dgf.seq         column_seq,

            sr.id           row_id,
            sr.latitude     latitude,
            sr.longitude    longitude,

            snf.data        data,

            dt.type         data_type
        from data_group dg, spatial_record sr, data_group_field dgf,
             SPATIAL_NUMBER_FIELD snf, data_type dt
        where dg.id = sr.data_group_id and dg.id = dgf.data_group_id and
              dgf.data_type_id = dt.id and dt.type = 'NUMBER' and
              dgf.id = snf.data_group_field_id and sr.id = snf.spatial_record_id;
    </select>
</mapper>