<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.jaedoo.mygeorecord.mybatis.mapper.DataGroupMapper">

    <select id="findAllDataGroupInfoByUserId"
            resultType="site.jaedoo.mygeorecord.mybatis.dto.datagroup.DataGroupFieldRecord">
        select
            dg.map_id       map_id,

            dg.id           data_group_id,
            dg.name         data_group_name,

            dgf.id          field_id,
            dgf.name        field_name,
            dt.type         field_type
        from data_group dg, data_group_field dgf, map m, data_type dt
        where dg.id = dgf.data_group_id and m.id = dg.map_id
            and m.owner = #{userId} and dt.id = dgf.data_type_id
        order by dgf.seq;
    </select>

    <select id="findAllDataGroupInfoByGeoTableId"
            resultType="site.jaedoo.mygeorecord.mybatis.dto.datagroup.DataGroupFieldRecord">
        select
            dg.map_id       map_id,
            dg.id           data_group_id,
            dg.name         data_group_name,

            dgf.id          field_id,
            dgf.name        field_name,
            dt.type         field_type
        from data_group dg, data_group_field dgf, data_type dt, map m
        where dg.id = dgf.data_group_id and dt.id = dgf.data_type_id and m.id = dg.map_id
          and m.id = #{mapId}
        order by dgf.seq;
    </select>

    <insert id="insertDataGroup" parameterType="site.jaedoo.mygeorecord.mybatis.dto.datagroup.DataGroupInsert"
            useGeneratedKeys="true" keyProperty="dataGroupId">
        insert into data_group(name, map_id)
        values
            (#{groupName}, #{mapId});
    </insert>

    <update id="updateDataGroup" parameterType="site.jaedoo.mygeorecord.mybatis.dto.datagroup.DataGroupUpdate">
        update data_group
        set name = #{dataGroupName}
        where id = #{dataGroupId};
    </update>

    <delete id="deleteDataGroup">
        delete from data_group
        where id = #{dataGroupId};
    </delete>
</mapper>
