<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.jaedoo.mygeorecord.mybatis.mapper.GeoTableMapper">
    <select id="findAllGeoTable" resultType="GeoTable">
        select id, name
        from MAP;
    </select>
    <select id="findGeoTableByUserId" resultType="GeoTable">
        select id, name
        from MAP
        where owner=#{id};
    </select>
    <select id="countUserGeoTable" resultType="java.lang.Integer">
        select count(owner)
        from MAP
        where owner=#{id};
    </select>
    <insert id="insertGeoTable">
        insert into MAP(name, owner)
        values (#{name}, #{userId})
    </insert>
</mapper>