<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.jaedoo.mygeorecord.mybatis.mapper.UserMapper">
    <select id="findAllUser" resultType="User">
        select *
        from users;
    </select>

    <select id="findUserByEmail" resultType="User">
        select *
        from users
        where EMAIL=#{email};
    </select>

    <insert id="insertUser" parameterType="site.jaedoo.mygeorecord.mybatis.dto.UserInfo"
            useGeneratedKeys="true" keyProperty="id">
        insert into users(email, password)
        values (#{email}, #{password});
    </insert>
</mapper>